.record-table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px;
}

.record-table tr td {
    width: 75%;
    vertical-align: top;
    padding-bottom: 15px;
}

.record-table tr td div {
    text-indent: -15px;
    padding-left: 15px;
}

.record-table tr td:first-child {
    vertical-align: top;
    width: 25% !important;
    padding-bottom: 15px;
    font-weight: bold;
}

.record-languages-rows td {
    padding: 1px 0 !important;
}