html {
    height: 100%;
}

* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
}

#top {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
}

#bottom {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
}

#navigation {
    width: 30%;
    max-width: 400px;
    height: 100%;
    overflow-y: scroll;
}

.category {
    line-height: 50px;
    color: white;
    background-color: black;
    padding-left: 10px;
}

.category-content.show {
    max-height: 400px;
    visibility: visible;
    transition: max-height .5s, visibility 0s;
}

.category-content.hidden {
    max-height: 0px;
    visibility: hidden;
    transition: max-height .5s, visibility 0s;
}

.title {
    line-height: 50px;
    padding-left: 20px;
    background-color: #F1F1F1;
    color: black;
}

#content {
    width: 70%;
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
    font-size: 16px;
    line-height: 24px;
}

#content img {
    max-width: 100%;
}